<div class='container'>
  <h1>Select a Form</h1>
  <ul>
    <li><a href='/newPetForm' id='link-new-pet'>New Pet Form</a></li>
    <li><a href='/adoptionForm' id='link-adopt'>Adoption Form</a></li>
  </ul>
</div>